<div class="jumbotron" style="background-image: url(https://pixabay.com/get/57e0d4474d53ae14f6d1867dda35367b1c3cdfed53577840_1920.jpg); background-size: 100%;">
    <div class="container for-about text-center text-white">
    <h1>Blog</h1>
    </div>
 </div>


 <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mekong Cruise</h5>
          <p class="card-text">Travel from Vietnam to Cambodia via the Mekong River. New offer available starting next summer.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tea Ceremony</h5>
          <p class="card-text">New partnership with Chion-in temple in Kyoto. Take part in an authentic tea ceremony! </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">TravelEx ranked Top!</h5>
            <p class="card-text">TravelEx ranked as the world's top travel agency by World Travellers for 3rd year in a row!</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  </div>
  <div class="row py-3">
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">COVID-19</h5>
          <p class="card-text">Travel advisories and restrictions to be aware of before embarking on travel during the COVID-19 pandemic.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sustainable travel</h5>
          <p class="card-text">With more and more people traveling, there is growing interest in sustainable tourism.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Africa Rising</h5>
            <p class="card-text"> Over the past years, Africa has become an increasingly attractive travel destination among millenials.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  </div>