<div class="wrapper">

    <h3 class="text-center display-3 m-2"> TravelEx: your travel companion</h3>
    
    <div class="jumbotron mt-5">
        <h1 class="display-6 text-center">In business since 2003, we are consistently ranked among the top travel agencies in the world!</h1>
        <p class="lead"></p>
        <hr class="my-4">
         <h5 class="text-center">Locations</h5>
         <div class="text-center">
            <div>
                <b>Headquarters:</b><br>
                1234 Harbor St<br>
                Sydney, Australia
            </div>
            <br>
            <div>
                <b>Asia:</b><br>
                Kyobashi 1-chome, Chuo-ku<br>
                Tokyo, Japan
            </div>
            <br>
            <div>
                <b>North America:</b><br>
                  16987 76th St.<br>
                    New York, NY 56807
            </div>
        </div>
      
    </div>
